@page "/person/edit/{id:int}"
@using BlazorApp.Components.Forms
@inject DataSet data

<h3>Edit</h3>

<PersonForm Person="person" OnSave="EditSave"/>

@code {
    [Parameter]
    public int id { get; set; }

    Model.Person person;

    protected override void OnInitialized()
    {
        person = data.GetData().ElementAt(id);
    }

    void EditSave()
    {
        Console.WriteLine("ukladam osobu do db");
    }
}